/*Main Elements */
body {
	max-width: 1080px;
	margin: auto;
}
section {
	float: left;
	width: 250px;
	margin: 0px;
}
p {
	font-family: "Kavivanar", cursive;
	height: 125px;
	margin: auto;
	padding: 40px;
	text-align: center;
}

/* Background Colours*/
.colour-1{
	background-color: pink;
}
.colour-2{
	background-color: #80ffd4;
}
.colour-3{
	background-color: #d9b3ff;
}
.colour-4{
	background-color: #99e6ff;
}
.colour-5{
	background-color: #ffc299;
}

/* Tall Boxes */
.height-double{
	height: 250px;
	margin: auto;
	padding: 20px;
}

/* Key Points */
.most-important{
	font-family: "Oswald", sans-serif;
	font-size: large;
}
.mid-important{
	font-weight: bold;
}